<body>
    <h1>Change Role</h1>
    <p>User: {{email}}</p>
    <p>Current Role: {{role}}</p>
    <button onclick="changeUserRole('{{_id}}', '{{role}}')">Change Role</button>
    <script src="/js/changeRole.js"></script>
</body>
   