<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Lista de Productos</h1>
  <div id="lista-productos" class="products-list">
    
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

function actualizarListaProductos(productos) {
  const listaProductos = document.getElementById('lista-productos');
  listaProductos.innerHTML = '';

  if (Array.isArray(productos)) { 
    const cardsContainer = document.createElement('div');
    cardsContainer.classList.add('cards-container'); 

    productos.forEach(producto => {
      const card = document.createElement('div');
      card.classList.add('card'); 

      const cardInfo = document.createElement('div');
      cardInfo.classList.add('card-info');

      const title = document.createElement('h2');
      title.textContent = producto.title;
      cardInfo.appendChild(title);

      const description = document.createElement('p');
      description.textContent = producto.description;
      cardInfo.appendChild(description);

      const price = document.createElement('p');
      price.textContent = `Precio: ${producto.price}`;
      cardInfo.appendChild(price);

      const stock = document.createElement('p');
      stock.textContent = `Stock: ${producto.stock}`;
      cardInfo.appendChild(stock);

      const category = document.createElement('p');
      category.textContent = `Categoría: ${producto.category}`;
      cardInfo.appendChild(category);

      card.appendChild(cardInfo);
      cardsContainer.appendChild(card);
    });

    listaProductos.appendChild(cardsContainer);
  } else {
    
    console.error('La variable productos no es un array:', productos);
  }
}

 

    
    socket.on('productos_iniciales', (productos) => {
      actualizarListaProductos(productos);
    });
  </script>
</body>
</html>
